# Files to ignore when considering what GIT should commit.

# Possible symlink for fixing tools that hardcode "game/mod_hl2mp" - we use "game/neo".
mp/game/mod_hl2mp

mp/game/neo/screenshots

# Any debug or user specific configs that shouldn't be pushed
mp/game/neo/cfg/rain.cfg

# Shader state debug image dumps
mp/game/neo/*.tga

# Map compile artifacts
mp/game/neo/mapsrc/*.bsp
mp/game/neo/mapsrc/*.prt
mp/game/neo/mapsrc/*.vmx

# Object files
*.o
*.p

# Emacs style backup files
*~

# Git for Windows editor crash
*.exe.stackdump

# VSCode
*.vscode/

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vpc.sentinel
.vs/
Degub/
Release/
mp/src/fgdlib/Debug/
mp/src/fgdlib/Release/
mp/src/game/client/Debug_neo/
mp/src/game/client/Release_neo/
mp/src/game/server/Debug_neo/
mp/src/game/server/Release_neo/
mp/src/materialsystem/stdshaders/Debug_dx9_neo/
mp/src/materialsystem/stdshaders/Release_dx9_neo/
mp/src/mathlib/Debug/
mp/src/mathlib/Release/
mp/src/raytrace/Debug/
mp/src/raytrace/Release/
mp/src/tier1/Debug/
mp/src/tier1/Release/
mp/src/utils/captioncompiler/Debug/
mp/src/utils/captioncompiler/Release/
mp/src/utils/glview/Debug/
mp/src/utils/glview/Release/
mp/src/utils/height2normal/Debug/
mp/src/utils/height2normal/Release/
mp/src/utils/motionmapper/Debug/
mp/src/utils/motionmapper/Release/
mp/src/utils/phonemeextractor/Debug/
mp/src/utils/phonemeextractor/Release/
mp/src/utils/qc_eyes/Debug/
mp/src/utils/qc_eyes/Release/
mp/src/utils/serverplugin_sample/Debug/
mp/src/utils/serverplugin_sample/Release/
mp/src/utils/tgadiff/Debug/
mp/src/utils/tgadiff/Release/
mp/src/utils/vbsp/Debug/
mp/src/utils/vbsp/Release/
mp/src/utils/vice/Debug/
mp/src/utils/vice/Release/
mp/src/utils/vrad/Debug/
mp/src/utils/vrad/Release/
mp/src/utils/vrad_launcher/Debug/
mp/src/utils/vrad_launcher/Release/
mp/src/utils/vtf2tga/Debug/
mp/src/utils/vtf2tga/Release/
mp/src/utils/vtfdiff/Debug/
mp/src/utils/vtfdiff/Release/
mp/src/utils/vvis/Debug/
mp/src/utils/vvis/Release/
mp/src/utils/vvis_launcher/Debug/
mp/src/utils/vvis_launcher/Release/
mp/src/vgui2/vgui_controls/Debug/
mp/src/vgui2/vgui_controls/Release/

# Speech SDK API
sapi51/

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# QT Creator project generated files
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes

# Intel utilities
VTune\ Profiler\ Results/

# Specific Source build products
bin
*.project

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

vgui_controls.lib
fgdlib.lib
tier1.lib
mathlib.lib
raytrace.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg
voice_ban.dt
stats.txt
*.cache
glshaders.cfg
server_blacklist.txt
videoconfig_linux.cfg
*.ain
user_custom

# shader generation files
*.tmp
mp/src/materialsystem/stdshaders/fxctmp9_tmp/
mp/src/materialsystem/stdshaders/shaders/fxc/
mp/src/materialsystem/stdshaders/filelist.txt
mp/src/materialsystem/stdshaders/filelistgen.txt
mp/src/materialsystem/stdshaders/filestocopy.txt
mp/src/materialsystem/stdshaders/inclist.txt
mp/src/materialsystem/stdshaders/uniquefilestocopy.txt
mp/src/materialsystem/stdshaders/vcslist.txt
mp/src/materialsystem/stdshaders/makefile.stdshader_dx9_20b
mp/src/materialsystem/stdshaders/makefile.stdshader_dx9_20b.copy
mp/src/materialsystem/stdshaders/makefile.stdshader_dx9_30
mp/src/materialsystem/stdshaders/makefile.stdshader_dx9_30.copy

# Server plugin files
mp/game/neo/addons

# Excludes
!makefile_base_posix.mak
!sourcesdk_def.mak
